Checks:                       '*,
                                -abseil-*,
                                -altera-*,
                                -android-*,
                                -fuchsia-*,
                                -google-*,
                                -llvm*,
                                -readability-avoid-const-params-in-decls,
                                -bugprone-reserved-identifier,
                                -misc-no-recursion,
                                -bugprone-easily-swappable-parameters,
                                -cert-*,
                                -readability-else-after-return,
                                -hicpp-braces-around-statements,
                                -readability-braces-around-statements,
                                -cppcoreguidelines-*,
                                -clang-diagnostic-unused-command-line-argument,
                                -concurrency-mt-unsafe,
                              '
HeaderFilterRegex:            '.*'
FormatStyle:                  'file'
WarningsAsErrors:             '*'
CheckOptions:
  readability-identifier-length.IgnoredParameterNames: '^([n]|fp)$'
